h1{
		font-size: 30px;
		color: teal;
		font-family: 'Castellar', fantasy
}
h2{
	font-size: 20px;
	color: hotpink;
}
.big{
	font-size: 100px;
	color: pink
}
p{font-family: 'Segoe Script', cursive;
color: salmon;}