h1{
		font-size: 30px;
		color: teal;
		font-family: 'Comic Sans', cursive;
}
h2{
	font-size: 20px;
	color: teal;
}
.big{
	font-size: 100px;
	color: teal;
	font-family: 'Segoe Script', cursive;
}
p{
	font-family: 'Segoe Script', cursive;
	color: teal;
}
#welcome{
	border-style: ridge double;
	border-width: 1em;
	border-color: blue;
}